<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
        	<ipay>
                <active>0</active>
                <title>iPay Payment</title>
                <order_status>pending_payment</order_status>
                <payment_action>true</payment_action>
                <model>Ccc\IPay\Model\Ipay</model>
                <group>offline</group>
            </ipay>
        </payment>
    </default>
</config>
